.flex-container {
    display: flex;
}

.dice {
    width: 100px;
    height: 100px;
    background: #333;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    box-sizing: border-box;
    cursor:pointer;
}
.dice.active {
    background: blue;
}
#playbutton {
    padding: 20px;
    display: block;
    background: green;
    color: #fff;
    cursor: pointer;
    position: absolute;
}
